body {
  background-color: #edffea;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.weather-app {
  background: #fff194;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.05);
  border-radius: 16px;
  padding: 30px;
}

.search-form-input {
  background-color: #fff2b7;
  border: none;
  border-radius: 6px;
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
  margin-left: 10px;
  margin-right: 5px;
}

.search-form-button {
  background: #f5b7ff;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: black;
  margin-left: 5px;
  font-size: 16px;
  margin-left: 10px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

a {
  color: #0e0c00;
}

main {
  padding: 20px 0;
  margin-left: 10px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #ea6bff;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 75px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
  margin-right: 25px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  color: #ea6bff;
  margin-top: 30px;
}

.weather-forecast-date {
  font-size: 16px;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  color: #ea6bff;
  margin-left: 0px;
}

.weather-forecast-temperature {
  padding: 0 0px;
  text-align: center;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
